.pop-up-top{
	background: #CCC;
	overflow: hidden;
	/*display: none;*/
}
.pop-up-top img.logo{
	width: 3rem;
	padding: 1rem;
	background: none;
}
.pop-up-top img.no,.pop-up-top img.ok{
	height: 1rem;
	padding: 2rem .5rem;
}
.pop-up-top img,.pop-up-top h2{
	float: left;
}
.pop-up-top button{
	float: right;
}
.pop-up-top h2{
	line-height: 5rem;
	color: rgba(0,0,0,.6);
}